section.production {
  position:relative;
  img {
    display:block;
    width:100%;
    height:auto;
  }
  .production-blurb {
    position:absolute;
    width:100%;
    background:rgba(#000, .6);
    color:#fff;
    font-size:50px;
    letter-spacing: -.025em;
    font-family:$raleway;
    font-weight:200;
    padding:65px 0 45px;
    bottom:0;
    left:0;
    strong {
      font-weight:800;
    }
  }
}